%a.back Back

.header
  .spacer
  .overlay
    %svg.logo{:'data-jdenticon-value' => @job.company, :width => 64, :height => 64}
    .info
      .title= @job.title
      .subtitle
        = @job.company
        |
        = @job.city + ', ' + @job.state
        |
        = @job.position
      .rate= @job.rate
    .apply-now-button
      %a.apply-now Apply Now

.content
  .tab-bar
    .tab.active Job Details
    .tab Company Overview
    .icons
      .location
        %i.fas.fa-map-marker-alt
      .share
        %i.far.fa-share
      .favorite
        -if @job.favorite then
          %i.fas.fa-heart
        -else
          %i.far.fa-heart

  .tab-content
    .info
      %h3 Description
      = @job.description

      - if @job.responsibilities.length > 0 then
        %h3 Main Duties &amp; Responsibilities
        %ul.responsibilites= render @job.responsibilities

      - if @job.skills.length > 0 then
        %h3 Skills
        %ul.skills= render @job.skills

    .sidebar
      .recommended
        %h3 Recommended Jobs
        [Jobs List]

      .location
        %h3 Location
        %p
          Candidates with similar background are in
          %a High Demand
        [Google Map]

      .salary-estimator
        %h3 Salary Estimator
        %p Based on Job Title, Location and Skills
        [Salary Chart]
        %a Get Personalized Salary

      .make-more-money
        %h3 Make More Money
        %p See the next step in your career
        %ul
          %li.active
            %h4 Customer Service Representative
            %p This Role
          %li
            %p Account Manager
            %p Estimated Salary: $20 - $25/hr
            %p You need 5 skills - Approx. 20 hrs of training
          %li
            %p Customer Service Manager
            %p Estimated Salary: $25 - $30/hr
            %p You need 8 skills - Approx. 30 hrs of training

  .apply-now-wrapper
    .apply-now-text
      %strong Apply to this job.
      %br
      Think you're the perfect candidate?
    .apply-now-button
      %a.apply-now Apply Now
