.job-header
  .job-favorite
    Favorite
    = @job.favorite
  .job-title= @job.title
  .job-meta
    %span.job-company= @job.company
    |
    %span.job-address= @job.city + ", " + @job.state
    |
    %span.job-position= @job.position
  .job-rate= @job.rate
  %button= link_to "Apply Now", "/"

.job-content
  %h3 Description
  = @job.description

  - if @job.responsibilities.length > 0 then
    %h3 Main Duties &amp; Responsibilities
    %ul.dashes
      - @job.responsibilities.each do |responsibility|
        %li= responsibility.content

  - if @job.skills.length > 0 then
    %h3 Skills
    %ul.dashes
      - @job.skills.each do |skill|
        %li= skill.content
