.job-header
  .job-favorite
    Favorite
    = @job.favorite
  .job-title= @job.title
  .job-meta
    %span.job-company= @job.company
    |
    %span.job-address= @job.city + ", " + @job.state
    |
    %span.job-position= @job.position
  .job-rate= @job.rate
  %button= link_to "Apply Now", "/"

  %h3 Description
  = @job.description

  %h3 Main Duties &amp; Responsibilities
  = @job.responsibilities

  %h3 Skills
  = @job.skills
