%p#notice= notice

.job-listings
  %strong 150 Jobs Found
  %a{:href => "#"} Save Search
  .sort
    Sort By:
    %a.active{:href => "#"} Relevancy
    |
    %a{:href => "#"} Date
  - @jobs.each do |job|
    .job-listing{:"data-jdp-url" => "/jobs/jdp/#{job.id}"}
      [Company Logo]
      .job-title= job.title
      .job-subtitle= job.company + ' | ' + job.city + ', ' + job.state
      -# distance will be calculated based on job address
      .job-distance 20m
      .job-rate= job.rate
      .job-favorite= job.favorite
      .job-score= job.expired ? 'Expired' : job.score

.job-details#jdp
