%p#notice= notice

%h1 Show Job

%p
  %strong Title:
  = @job.title
%p
  %strong Company:
  = @job.company
%p
  %strong City:
  = @job.city
%p
  %strong State:
  = @job.state
%p
  %strong Position:
  = @job.position
%p
  %strong Rate
  = @job.rate
%p
  %strong Favorite
  = @job.favorite
%p
  %strong Expired
  = @job.expired
%p
  %strong Score
  = @job.score
%p
  %strong Description
  = @job.description

%p
  %strong Main Duties &amp; Responsibilities
  %ul.dashes
    - @job.responsibilities.each do |responsibility|
      %li= responsibility.content

%p
  %strong Skills
  %ul.dashes
    - @job.skills.each do |skill|
      %li= skill.content

%h2 Add Main Duty &amp; Responsibility
= form_with(model: [ @job, @job.responsibilities.build ], local: true) do |form|
  %p
    = form.text_area :content
  %p
    = form.submit

%h2 Add Skill
= form_with(model: [ @job, @job.skills.build ], local: true) do |form|
  %p
    = form.text_field :content
  %p
    = form.submit

= link_to 'Edit', edit_job_path(@job)
|
= link_to 'Back', jobs_path
